*** testing dtscp help ***

dtscp help

HELP

	The HELP directive invokes the DTS HELP service to
	display information about a DTS directive.
	In response to a DTS prompt your can ask for help
	about a DTS directive.

		dtscp> HELP CREATE
		dtscp> HELP DELETE
		dtscp> HELP ENABLE
		dtscp> HELP DISABLE
		dtscp> HELP UPDATE
		dtscp> HELP SYNCHRONIZE
		dtscp> HELP CHANGE
		dtscp> HELP ADVERTISE
		dtscp> HELP UNADVERTISE
		dtscp> HELP SET
		dtscp> HELP SHOW


dtscp HEL

HELP

	The HELP directive invokes the DTS HELP service to
	display information about a DTS directive.
	In response to a DTS prompt your can ask for help
	about a DTS directive.

		dtscp> HELP CREATE
		dtscp> HELP DELETE
		dtscp> HELP ENABLE
		dtscp> HELP DISABLE
		dtscp> HELP UPDATE
		dtscp> HELP SYNCHRONIZE
		dtscp> HELP CHANGE
		dtscp> HELP ADVERTISE
		dtscp> HELP UNADVERTISE
		dtscp> HELP SET
		dtscp> HELP SHOW



dtscp help advertise

HELP ADVERTISE

	The ADVERTISE directive configures this DTS
	Time Server as a global server.
dtscp HEL ADV

HELP ADVERTISE

	The ADVERTISE directive configures this DTS
	Time Server as a global server.

dtscp help change

HELP CHANGE


The CHANGE directive has two instances
	The CHANGE EPOCH directive changes the current epoch and
	optionally sets the local clock.  The clock is set
	non-monotonically.

		dtscp>CHANGE EPOCH {0..255} [TIME {ABSOLUTE TIME}]


	The CHANGE HOST directive resets the dtscp program
and opens a connection to the DTS Server on the remote host

		dtscp>CHANGE HOST [TO] {hostname}


dtscp HEL CHA

HELP CHANGE


The CHANGE directive has two instances
	The CHANGE EPOCH directive changes the current epoch and
	optionally sets the local clock.  The clock is set
	non-monotonically.

		dtscp>CHANGE EPOCH {0..255} [TIME {ABSOLUTE TIME}]


	The CHANGE HOST directive resets the dtscp program
and opens a connection to the DTS Server on the remote host

		dtscp>CHANGE HOST [TO] {hostname}



dtscp help create

HELP CREATE

	The CREATE directive initializes the time service
	process as a server or as a clerk.

		dtscp>CREATE  [TYPE [SERVER|CLERK]]


dtscp HEL CRE

HELP CREATE

	The CREATE directive initializes the time service
	process as a server or as a clerk.

		dtscp>CREATE  [TYPE [SERVER|CLERK]]



dtscp help delete

HELP DELETE

	The DELETE directive is issued to exit a disabled
	DTS process.

		dtscp>DELETE 


dtscp HEL DEL

HELP DELETE

	The DELETE directive is issued to exit a disabled
	DTS process.

		dtscp>DELETE 



dtscp help disable

HELP DISABLE

	The DISABLE directive causes the time service to stop
	synchronize.  A disabled service can
	be enabled by using the ENABLE directive

		dtscp>DISABLE 


dtscp HEL DIS

HELP DISABLE

	The DISABLE directive causes the time service to stop
	synchronize.  A disabled service can
	be enabled by using the ENABLE directive

		dtscp>DISABLE 



dtscp help enable

HELP ENABLE

	The ENABLE directive causes a disabled DTS process
	to begin synchronizing.  A DTS process becomes disabled
	as the result of a CREATE or a DISABLE directive.
	The SET CLOCK argument determines whether or not
	he result of the first synchronization is used to
	non-monotonically set the local clock.  The default
	is for the clock not to be set.

		dtscp>ENABLE  [SET [CLOCK] [TRUE|FALSE]]


dtscp HEL ENA

HELP ENABLE

	The ENABLE directive causes a disabled DTS process
	to begin synchronizing.  A DTS process becomes disabled
	as the result of a CREATE or a DISABLE directive.
	The SET CLOCK argument determines whether or not
	he result of the first synchronization is used to
	non-monotonically set the local clock.  The default
	is for the clock not to be set.

		dtscp>ENABLE  [SET [CLOCK] [TRUE|FALSE]]



dtscp help set

HELP SET

	The SET directive sets a single DTS characteristic
	attribute to a specified value.

		dtscp>SET  {ATTRIBUTE}
			ATTRIBUTES
				CHECK INTERVAL
				ERROR TOLERANCE
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				SYNCHRONIZATION HOLD DOWN
				COURIER ROLE


dtscp HEL SET

HELP SET

	The SET directive sets a single DTS characteristic
	attribute to a specified value.

		dtscp>SET  {ATTRIBUTE}
			ATTRIBUTES
				CHECK INTERVAL
				ERROR TOLERANCE
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				SYNCHRONIZATION HOLD DOWN
				COURIER ROLE



dtscp help show

HELP SHOW

	The SHOW directive displays information about the
	time service

		dtscp>SHOW  {SHOW ATTRIBUTE}
			ATTRIBUTES
				ALL STATUS
				ALL COUNTERS
				ALL CHARACTERISTICS
				ALL
				CHECK INTERVAL
				EPOCH NUMBER
				ERROR TOLERANCE
				LOCAL TIME DIFFERENTIAL FACTOR
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SYNCHRONIZATION HOLD DOWN
				TYPE
				COURIER ROLE
				ACTING COURIER ROLE
				CLOCK ADJUSTMENT RATE
				CLOCK RESOLUTION
				MAXIMUM CLOCK DRIFT RATE
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				DTS VERSION
				TIME REPRESENTATION VERSION
				CURRENT TIME
				UID
				LAST SYNCHRONIZATION
				STATE
				CREATION TIME
				LOCAL TIMES NOT INTERSECTING
				SERVER TIMES NOT INTERSECTING
				DIFFERENT EPOCHS DETECTED
				TIME REPRESENTATION MISMATCHES DETECTED
				TOO FEW SERVERS DETECTED
				NO GLOBAL SERVERS DETECTED
				SERVERS NOT RESPONDING
				CLOCK SETTINGS
				EPOCH CHANGES COMPLETED
				SYSTEM ERRORS DETECTED
				SYNCHRONIZATIONS COMPLETED
				UPDATES INITIATED
				ENABLE DIRECTIVES COMPLETED
				DISABLE DIRECTIVES COMPLETED
				INSUFFICIENT RESOURCES DETECTED
				TIME PROVIDER FAILURES DETECTED
				TIME PROVIDER TIMEOUTS DETECTED
				LOCAL SERVER NOT IN GROUP
				SERVERS NOT IN GROUP
				LOCAL SERVERS
				GLOBAL SERVERS


dtscp HEL SHO

HELP SHOW

	The SHOW directive displays information about the
	time service

		dtscp>SHOW  {SHOW ATTRIBUTE}
			ATTRIBUTES
				ALL STATUS
				ALL COUNTERS
				ALL CHARACTERISTICS
				ALL
				CHECK INTERVAL
				EPOCH NUMBER
				ERROR TOLERANCE
				LOCAL TIME DIFFERENTIAL FACTOR
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SYNCHRONIZATION HOLD DOWN
				TYPE
				COURIER ROLE
				ACTING COURIER ROLE
				CLOCK ADJUSTMENT RATE
				CLOCK RESOLUTION
				MAXIMUM CLOCK DRIFT RATE
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				DTS VERSION
				TIME REPRESENTATION VERSION
				CURRENT TIME
				UID
				LAST SYNCHRONIZATION
				STATE
				CREATION TIME
				LOCAL TIMES NOT INTERSECTING
				SERVER TIMES NOT INTERSECTING
				DIFFERENT EPOCHS DETECTED
				TIME REPRESENTATION MISMATCHES DETECTED
				TOO FEW SERVERS DETECTED
				NO GLOBAL SERVERS DETECTED
				SERVERS NOT RESPONDING
				CLOCK SETTINGS
				EPOCH CHANGES COMPLETED
				SYSTEM ERRORS DETECTED
				SYNCHRONIZATIONS COMPLETED
				UPDATES INITIATED
				ENABLE DIRECTIVES COMPLETED
				DISABLE DIRECTIVES COMPLETED
				INSUFFICIENT RESOURCES DETECTED
				TIME PROVIDER FAILURES DETECTED
				TIME PROVIDER TIMEOUTS DETECTED
				LOCAL SERVER NOT IN GROUP
				SERVERS NOT IN GROUP
				LOCAL SERVERS
				GLOBAL SERVERS



dtscp help synchronize

HELP SYNCHRONIZE

	The SYNCHRONIZE directive requests an immediate synchronization.
	The time service can not initiate if the service is
	currently synchronizing, disabled, or servicing an
	update directive. The SET CLOCK argument determines
	if the result of the synchronization will be used to
	non-monotonically set the local clock.  The default
	action is to drift set the local clock

		dtscp>SYNCHRONIZE  [SET [CLOCK] [TRUE|FALSE]]


dtscp HEL SYN

HELP SYNCHRONIZE

	The SYNCHRONIZE directive requests an immediate synchronization.
	The time service can not initiate if the service is
	currently synchronizing, disabled, or servicing an
	update directive. The SET CLOCK argument determines
	if the result of the synchronization will be used to
	non-monotonically set the local clock.  The default
	action is to drift set the local clock

		dtscp>SYNCHRONIZE  [SET [CLOCK] [TRUE|FALSE]]



dtscp help unadvertise

HELP UNADVERTISE

	The UNADVERTISE directive removes this DTS Time
	Server from the Cell Profile, thus making it
	no longer be a global server
dtscp HEL UNA

HELP UNADVERTISE

	The UNADVERTISE directive removes this DTS Time
	Server from the Cell Profile, thus making it
	no longer be a global server

dtscp help update

HELP UPDATE

	The UPDATE directive causes the time service to correct
	the local clock by drifting its value to the specified
	time.  UPDATE allows the user to perform a manual
	synchronization.  The specified time must be included
	in the local clock's inaccuracy interval, and can not
	specify an inaccuracy of less than one second
	This directive is supported by servers only.

		dtscp>UPDATE TIME [ABSOLUTE TIME]


dtscp HEL UPD

HELP UPDATE

	The UPDATE directive causes the time service to correct
	the local clock by drifting its value to the specified
	time.  UPDATE allows the user to perform a manual
	synchronization.  The specified time must be included
	in the local clock's inaccuracy interval, and can not
	specify an inaccuracy of less than one second
	This directive is supported by servers only.

		dtscp>UPDATE TIME [ABSOLUTE TIME]



*** testing dtscp advertise ***

dtscp show type
Type                      = Server
dtscp advertise
dtscp show type
Type                      = Server
*** the next command should fail with message 'Type already registered' ***
dtscp ADV
Error executing command:
	Type already registered (dce / rpc)
dtscp unadvertise
dtscp show type
Type                      = Server

*** testing dtscp change ***

dtscp show epoch number
Epoch Number              = 0
dtscp change epoch 7
dtscp show epoch number
Epoch Number              = 7
dtscp CHA EPO 0
dtscp show epoch number
Epoch Number              = 0
*** the next command should fail with message 'Epoch out of range' ***
dtscp change epoch 777
Error executing command:
	Epoch out of range or not different from current epoch (dce / dts)
dtscp show epoch number
Epoch Number              = 0

*** testing dtscp create ***
*** the next 8 commands should fail with message 'Time service already created' ***

dtscp create
Error executing command:
	Time service already created (dce / dts)
dtscp CRE
Error executing command:
	Time service already created (dce / dts)
dtscp create type
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP
Error executing command:
	Time service already created (dce / dts)
dtscp create type clerk
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP CLE
Error executing command:
	Time service already created (dce / dts)
dtscp create type server
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP SER
Error executing command:
	Time service already created (dce / dts)

*** testing dtscp delete ***
*** the next 2 commands should fail with message 'Time service in wrong state' ***

dtscp delete
Error executing command:
	Time service in wrong state (dce / dts)
dtscp DEL
Error executing command:
	Time service in wrong state (dce / dts)

*** testing dtscp disable ***

dtscp show state
State                     = On
dtscp show disable directives completed
Disable Directives Completed = 0
dtscp disable
dtscp show state
State                     = Off
dtscp show disable directives completed
Disable Directives Completed = 1
dtscp enable
dtscp show state
State                     = On
dtscp DIS
dtscp show state
State                     = Off
dtscp show disable directives completed
Disable Directives Completed = 2
*** the next command should fail with message 'Time service in wrong state' ***
dtscp disable
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = Off
dtscp enable
dtscp show state
State                     = On

*** testing dtscp enable ***

dtscp disable
dtscp show state
State                     = Off
dtscp enable
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 4
dtscp disable
dtscp show state
State                     = Off
dtscp ENA
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 5
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 5
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 6
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 7
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 7
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock false
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 8
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO FAL
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 9
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock false
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 9
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock true
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 10
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO TRU
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 11
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock true
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 11

*** testing dtscp exit ***

dtscp exit
dtscp EXI

*** testing dtscp quit ***

dtscp quit
dtscp QUI

*** testing dtscp set ***

dtscp show check interval
Check Interval            = +0-01:30:00.000I-----
dtscp set check interval 0-00:30:00.00I0.00
dtscp show check interval
Check Interval            = +0-00:30:00.000I-----
dtscp SET CHE INT 0-02:00:00.00I0.00
dtscp show check interval
Check Interval            = +0-02:00:00.000I-----
dtscp set check interval
dtscp show check interval
Check Interval            = +0-01:30:00.000I-----

dtscp set courier role backup courier
dtscp show courier role
Courier Role              = Backup Courier
dtscp set courier role courier
dtscp show courier role
Courier Role              = Courier
dtscp SET COU ROLE noncourier
dtscp show courier role
Courier Role              = NonCourier
dtscp set courier role
dtscp show courier role
Courier Role              = Backup Courier

dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----
dtscp set error tolerance 0-00:30:00.00I0.00
dtscp show error tolerance
Error Tolerance           = +0-00:30:00.000I-----
dtscp SET ERR TOL 0-00:20:00.00I0.00
dtscp show error tolerance
Error Tolerance           = +0-00:20:00.000I-----
dtscp set error tolerance
dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----

dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----
dtscp set global set timeout 0-00:00:30.000I0.00
dtscp show global set timeout
Global Set Timeout        = +0-00:00:30.000I-----
dtscp SET GLO SET TIM 0-00:00:20.000I0.00
dtscp show global set timeout
Global Set Timeout        = +0-00:00:20.000I-----
dtscp set global set timeout
dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----

dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----
dtscp set local set timeout 0-00:00:30.000I0.00
dtscp show local set timeout
Local Set Timeout         = +0-00:00:30.000I-----
dtscp SET LOC SET TIM 0-00:00:20.000I0.00
dtscp show local set timeout
Local Set Timeout         = +0-00:00:20.000I-----
dtscp set local set timeout
dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----

dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----
dtscp set maximum inaccuracy 0-00:30:00.00I0.00
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:30:00.000I-----
dtscp SET MAX INA 0-00:00:30.00I0.00
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:30.000I-----
dtscp set maximum inaccuracy
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----

dtscp show query attempts
Query Attempts            = 3
dtscp set query attempts 4
dtscp show query attempts
Query Attempts            = 4
dtscp SET QUE ATT 2
dtscp show query attempts
Query Attempts            = 2
dtscp set query attempts
dtscp show query attempts
Query Attempts            = 3

dtscp show server entry name
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
*** (KNOWN BUG) the next command will fail with message 'No permission for name service operation' ***
dtscp set server entry name yourmomma
Error executing command:
	No permission for name service operation (dce / rpc)
dtscp show server entry name
Server Entry Name         = yourmomma
*** the next command will fail with message 'Entry not found' ***
dtscp SET SER ENT NAM hosts/yourmomma/dts-entity
Error executing command:
	Entry not found (dce / rpc)
dtscp show server entry name
Server Entry Name         = hosts/yourmomma/dts-entity
*** (KNOWN BUG) the next command will fail with message 'No permission for name service operation' ***
dtscp set server entry name
Error executing command:
	No permission for name service operation (dce / rpc)
dtscp show server entry name
Server Entry Name         = /dts-entity
dtscp set server entry name hosts/__SERVERNAME__/dts-entity
dtscp show server entry name
Server Entry Name         = hosts/__SERVERNAME__/dts-entity

dtscp show server group name
Server Group Name         = subsys/dce/dts-servers
dtscp set server group name subsys/dce/dts-gumby
dtscp show server group name
Server Group Name         = subsys/dce/dts-gumby
dtscp SET SER GRO NAM subsys/dce/dts-pokey
dtscp show server group name
Server Group Name         = subsys/dce/dts-pokey
dtscp set server group name
dtscp show server group name
Server Group Name         = subsys/dce/dts-servers

dtscp show server principal name
Server Principal Name     = hosts/__SERVERNAME__/self
*** (KNOWN BUG) the next command will fail with message 'Attempt to modify a read-only attribute' ***
dtscp set server principal name hosts/__SERVERNAME__/gumby
Error executing command:
	Attempt to modify a read-only attribute (dce / dts)
dtscp show server principal name
Server Principal Name     = hosts/__SERVERNAME__/self
*** (KNOWN BUG) the next command will fail with message 'Attempt to modify a read-only attribute' ***
dtscp SET SER PRI NAM hosts/__SERVERNAME__/pokey
Error executing command:
	Attempt to modify a read-only attribute (dce / dts)
dtscp show server principal name
Server Principal Name     = hosts/__SERVERNAME__/self
*** (KNOWN BUG) the next command will fail with message 'Attempt to modify a read-only attribute' ***
dtscp set server principal name
Error executing command:
	Attempt to modify a read-only attribute (dce / dts)
dtscp show server principal name
Server Principal Name     = hosts/__SERVERNAME__/self

dtscp show servers required
Servers Required          = 3
dtscp set servers required 4
dtscp show servers required
Servers Required          = 4
dtscp SET SER REQ 2
dtscp show servers required
Servers Required          = 2
dtscp set servers required
dtscp show servers required
Servers Required          = 3

dtscp show synchronization hold down
Synchronization Hold Down = +0-00:02:00.000I-----
dtscp set synchronization hold down 0-00:15:00.00I0.00
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:15:00.000I-----
dtscp SET SYN HOL DOW 0-00:10:00.00I0.00
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:10:00.000I-----
dtscp set synchronization hold down
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:02:00.000I-----

dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp set arithmetic trace true
dtscp show arithmetic trace
Arithmetic Trace          = TRUE
dtscp SET ARI TRA false
dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp set arithmetic trace
dtscp show arithmetic trace
Arithmetic Trace          = FALSE

dtscp show communication trace
Communication Trace       = FALSE
dtscp set communication trace true
dtscp show communication trace
Communication Trace       = TRUE
dtscp SET COM TRA false
dtscp show communication trace
Communication Trace       = FALSE
dtscp set communication trace
dtscp show communication trace
Communication Trace       = FALSE

dtscp show service trace
Service Trace             = FALSE
dtscp set service trace true
dtscp show service trace
Service Trace             = TRUE
*** (KNOWN BUG) the next command will fail with the message 'Illegal dts command' ***
dtscp SET SER TRA false
Illegal dts command:

SET SER TRA false
        ^
dtscp show service trace
Service Trace             = TRUE
dtscp set service trace
dtscp show service trace
Service Trace             = FALSE

dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp set synchronization trace true
dtscp show synchronization trace
Synchronization Trace     = TRUE
dtscp SET SYN TRA false
dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp set synchronization trace
dtscp show synchronization trace
Synchronization Trace     = FALSE

*** testing dtscp show (characteristics) ***

dtscp show acting courier role
Acting Courier Role       = Courier
dtscp SHO ACT COU ROL
Acting Courier Role       = Courier

dtscp show automatic tdf change
Automatic TDF Change      = FALSE
dtscp SHO AUT TDF CHA
Automatic TDF Change      = FALSE

dtscp show check interval
Check Interval            = +0-01:30:00.000I-----
dtscp SHO CHE INT
Check Interval            = +0-01:30:00.000I-----

dtscp show clock adjustment rate
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
dtscp SHO CLO ADJ RAT
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec

dtscp show clock resolution
Clock Resolution          = 10000000  nsec
dtscp SHO CLO RES
Clock Resolution          = 10000000  nsec

dtscp show courier role
Courier Role              = Backup Courier
dtscp SHO COU ROL
Courier Role              = Backup Courier

dtscp show dts version
DTS Version               = V1.0.1
dtscp SHO DTS VER
DTS Version               = V1.0.1

dtscp show epoch number
Epoch Number              = 0
dtscp SHO EPO NUM
Epoch Number              = 0

dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----
dtscp SHO ERR TOL
Error Tolerance           = +0-00:05:00.000I-----

dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----
dtscp SHO GLO SET TIM
Global Set Timeout        = +0-00:00:15.000I-----

dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----
dtscp SHO LOC SET TIM
Local Set Timeout         = +0-00:00:05.000I-----

dtscp show local time differential factor
Local Time Differential Factor = __LOCALTDFCHANGE__
dtscp SHO LOC TIM DIF FAC
Local Time Differential Factor = __LOCALTDFCHANGE__

dtscp show maximum clock drift rate
Maximum Clock Drift Rate  = 1000000  nsec/sec
dtscp SHO MAX CLO DRI RAT
Maximum Clock Drift Rate  = 1000000  nsec/sec

dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----
dtscp SHO MAX INA
Maximum Inaccuracy        = +0-00:00:00.100I-----

dtscp show next tdf change
Next TDF Change           = __NEXTTDFCHANGE__
dtscp SHO NEX TDF CHA
Next TDF Change           = __NEXTTDFCHANGE__

dtscp show query attempts
Query Attempts            = 3
dtscp SHO QUE ATT
Query Attempts            = 3

dtscp show server entry name
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
dtscp SHO SER ENT NAM
Server Entry Name         = hosts/__SERVERNAME__/dts-entity

dtscp show server group name
Server Group Name         = subsys/dce/dts-servers
dtscp SHO SER GRO NAM
Server Group Name         = subsys/dce/dts-servers

dtscp show server principal name
Server Principal Name     = hosts/__SERVERNAME__/self
dtscp SHO SER PRI NAM
Server Principal Name     = hosts/__SERVERNAME__/self

dtscp show servers required
Servers Required          = 3
dtscp SHO SER REQ
Servers Required          = 3

dtscp show synchronization hold down
Synchronization Hold Down = +0-00:02:00.000I-----
dtscp SHO SYN HOL DOW
Synchronization Hold Down = +0-00:02:00.000I-----

dtscp show time provider present
Time Provider Present     = FALSE
dtscp SHO TIM PRO PRE
Time Provider Present     = FALSE

dtscp show time representation version
Time Representation Version = V1.0.0
dtscp SHO TIM REP VER
Time Representation Version = V1.0.0

dtscp show type
Type                      = Server
dtscp SHO TYP
Type                      = Server

dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp SHO ARI TRA
Arithmetic Trace          = FALSE

dtscp show communication trace
Communication Trace       = FALSE
dtscp SHO COM TRA
Communication Trace       = FALSE

dtscp show service trace
Service Trace             = FALSE
*** (KNOWN BUG) the next command will fail with the message 'Illegal dts command' ***
dtscp SHO SER TRA
Illegal dts command:

SHO SER TRA
        ^

dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp SHO SYN TRA
Synchronization Trace     = FALSE

*** testing dtscp show (counters) ***

dtscp show clock settings
Clock Settings            = 0
dtscp SHO CLO SET
Clock Settings            = 0

dtscp show different epochs detected
Different Epochs Detected = 0
dtscp SHO DIF EPO DET
Different Epochs Detected = 0

dtscp show disable directives completed
Disable Directives Completed = 10
dtscp SHO DIS DIR COM
Disable Directives Completed = 10

dtscp show enable directives completed
Enable Directives Completed = 11
dtscp SHO ENA DIR COM
Enable Directives Completed = 11

dtscp show epoch changes completed
Epoch Changes Completed   = 4
dtscp SHO EPO CHA COM
Epoch Changes Completed   = 4

dtscp show insufficient resources detected
Insufficient Resources Detected = 0
dtscp SHO INS RES DET
Insufficient Resources Detected = 0

dtscp show local times not intersecting
Local Times Not Intersecting = 0
dtscp SHO LOC TIM NOT INT
Local Times Not Intersecting = 0

dtscp show no global servers detected
No Global Servers Detected = 0
dtscp SHO NO GLO SER DET
No Global Servers Detected = 0

dtscp show server times not intersecting
Server Times Not Intersecting = 0
dtscp SHO SER TIM NOT INT
Server Times Not Intersecting = 0

dtscp show servers not responding
Servers Not Responding    = 0
dtscp SHO SER NOT RES
Servers Not Responding    = 0

dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SHO SYN COM
Synchronizations Completed = 0

dtscp show system errors detected
System Errors Detected    = 0
dtscp SHO SYS ERR DET
System Errors Detected    = 0

dtscp show time provider failures detected
Time Provider Failures Detected = 0
dtscp SHO TIM PRO FAI DET
Time Provider Failures Detected = 0

dtscp show time representation mismatches detected
Time Representation Mismatches Detected = 0
dtscp SHO TIM REP MIS DET
Time Representation Mismatches Detected = 0

dtscp show time provider timeouts detected
Time Provider Timeouts Detected = 0
dtscp SHO TIM PRO TIM DET
Time Provider Timeouts Detected = 0

dtscp show updates initiated
Updates Initiated         = 0
dtscp SHO UPD INI
Updates Initiated         = 0

dtscp show local server not in group
Local server not in group = 0
dtscp SHO LOC SER NOT IN GRO
Local server not in group = 0

dtscp show servers not in group
Servers not in group      = 0
dtscp SHO SER NOT IN GRO
Servers not in group      = 0

*** testing dtscp show (status) ***

dtscp show state
State                     = On
dtscp SHO STA
State                     = On

*** testing dtscp show (other) ***

dtscp show global servers


Known Servers
============================================================

dtscp SHO GLO SER


Known Servers
============================================================


dtscp show local servers


Known Servers
============================================================

dtscp SHO LOC SER


Known Servers
============================================================


dtscp show all
Check Interval            = +0-01:30:00.000I-----
Epoch Number              = 0
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 3
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:02:00.000I-----
Type                      = Server
Courier Role              = Backup Courier
Acting Courier Role       = Courier
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Time Provider Present     = FALSE
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
Server Principal Name     = hosts/__SERVERNAME__/self
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
Server Group Name         = subsys/dce/dts-servers
dtscp SHO ALL
Check Interval            = +0-01:30:00.000I-----
Epoch Number              = 0
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 3
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:02:00.000I-----
Type                      = Server
Courier Role              = Backup Courier
Acting Courier Role       = Courier
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Time Provider Present     = FALSE
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
Server Principal Name     = hosts/__SERVERNAME__/self
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
Server Group Name         = subsys/dce/dts-servers

dtscp show all characteristics
Check Interval            = +0-01:30:00.000I-----
Epoch Number              = 0
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 3
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:02:00.000I-----
Type                      = Server
Courier Role              = Backup Courier
Acting Courier Role       = Courier
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Time Provider Present     = FALSE
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
Server Principal Name     = hosts/__SERVERNAME__/self
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
Server Group Name         = subsys/dce/dts-servers
dtscp SHO ALL CHA
Check Interval            = +0-01:30:00.000I-----
Epoch Number              = 0
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 3
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:02:00.000I-----
Type                      = Server
Courier Role              = Backup Courier
Acting Courier Role       = Courier
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Time Provider Present     = FALSE
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
Server Principal Name     = hosts/__SERVERNAME__/self
Server Entry Name         = hosts/__SERVERNAME__/dts-entity
Server Group Name         = subsys/dce/dts-servers

*** testing dtscp synchronize ***

dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp synchronize
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SYN
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp synchronize set
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SYN SET
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp synchronize set clock
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SYN SET CLO
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp synchronize set clock false
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SYN SET CLO FAL
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp synchronize set clock true
dtscp show synchronizations completed
Synchronizations Completed = 0
dtscp SYN SET CLO TRU
dtscp show synchronizations completed
Synchronizations Completed = 0
*** testing dtscp unadvertise ***

dtscp advertise
dtscp show type
Type                      = Server
dtscp unadvertise
dtscp show type
Type                      = Server
dtscp advertise
dtscp show type
Type                      = Server
dtscp UNA
dtscp show type
Type                      = Server

*** testing an Illegal dtscp command***

*** the next command should fail with message 'Illegal dts command' ***
dtscp biteme
Illegal dts command:

biteme
^

