*** testing dtscp help ***

dtscp help

HELP

	The HELP directive invokes the DTS HELP service to
	display information about a DTS directive.
	In response to a DTS prompt your can ask for help
	about a DTS directive.

		dtscp> HELP CREATE
		dtscp> HELP DELETE
		dtscp> HELP ENABLE
		dtscp> HELP DISABLE
		dtscp> HELP UPDATE
		dtscp> HELP SYNCHRONIZE
		dtscp> HELP CHANGE
		dtscp> HELP ADVERTISE
		dtscp> HELP UNADVERTISE
		dtscp> HELP SET
		dtscp> HELP SHOW


dtscp HEL

HELP

	The HELP directive invokes the DTS HELP service to
	display information about a DTS directive.
	In response to a DTS prompt your can ask for help
	about a DTS directive.

		dtscp> HELP CREATE
		dtscp> HELP DELETE
		dtscp> HELP ENABLE
		dtscp> HELP DISABLE
		dtscp> HELP UPDATE
		dtscp> HELP SYNCHRONIZE
		dtscp> HELP CHANGE
		dtscp> HELP ADVERTISE
		dtscp> HELP UNADVERTISE
		dtscp> HELP SET
		dtscp> HELP SHOW



dtscp help advertise

HELP ADVERTISE

	The ADVERTISE directive configures this DTS
	Time Server as a global server.
dtscp HEL ADV

HELP ADVERTISE

	The ADVERTISE directive configures this DTS
	Time Server as a global server.

dtscp help change

HELP CHANGE


The CHANGE directive has two instances
	The CHANGE EPOCH directive changes the current epoch and
	optionally sets the local clock.  The clock is set
	non-monotonically.

		dtscp>CHANGE EPOCH {0..255} [TIME {ABSOLUTE TIME}]


	The CHANGE HOST directive resets the dtscp program
and opens a connection to the DTS Server on the remote host

		dtscp>CHANGE HOST [TO] {hostname}


dtscp HEL CHA

HELP CHANGE


The CHANGE directive has two instances
	The CHANGE EPOCH directive changes the current epoch and
	optionally sets the local clock.  The clock is set
	non-monotonically.

		dtscp>CHANGE EPOCH {0..255} [TIME {ABSOLUTE TIME}]


	The CHANGE HOST directive resets the dtscp program
and opens a connection to the DTS Server on the remote host

		dtscp>CHANGE HOST [TO] {hostname}



dtscp help create

HELP CREATE

	The CREATE directive initializes the time service
	process as a server or as a clerk.

		dtscp>CREATE  [TYPE [SERVER|CLERK]]


dtscp HEL CRE

HELP CREATE

	The CREATE directive initializes the time service
	process as a server or as a clerk.

		dtscp>CREATE  [TYPE [SERVER|CLERK]]



dtscp help delete

HELP DELETE

	The DELETE directive is issued to exit a disabled
	DTS process.

		dtscp>DELETE 


dtscp HEL DEL

HELP DELETE

	The DELETE directive is issued to exit a disabled
	DTS process.

		dtscp>DELETE 



dtscp help disable

HELP DISABLE

	The DISABLE directive causes the time service to stop
	synchronize.  A disabled service can
	be enabled by using the ENABLE directive

		dtscp>DISABLE 


dtscp HEL DIS

HELP DISABLE

	The DISABLE directive causes the time service to stop
	synchronize.  A disabled service can
	be enabled by using the ENABLE directive

		dtscp>DISABLE 



dtscp help enable

HELP ENABLE

	The ENABLE directive causes a disabled DTS process
	to begin synchronizing.  A DTS process becomes disabled
	as the result of a CREATE or a DISABLE directive.
	The SET CLOCK argument determines whether or not
	he result of the first synchronization is used to
	non-monotonically set the local clock.  The default
	is for the clock not to be set.

		dtscp>ENABLE  [SET [CLOCK] [TRUE|FALSE]]


dtscp HEL ENA

HELP ENABLE

	The ENABLE directive causes a disabled DTS process
	to begin synchronizing.  A DTS process becomes disabled
	as the result of a CREATE or a DISABLE directive.
	The SET CLOCK argument determines whether or not
	he result of the first synchronization is used to
	non-monotonically set the local clock.  The default
	is for the clock not to be set.

		dtscp>ENABLE  [SET [CLOCK] [TRUE|FALSE]]



dtscp help set

HELP SET

	The SET directive sets a single DTS characteristic
	attribute to a specified value.

		dtscp>SET  {ATTRIBUTE}
			ATTRIBUTES
				CHECK INTERVAL
				ERROR TOLERANCE
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				SYNCHRONIZATION HOLD DOWN
				COURIER ROLE


dtscp HEL SET

HELP SET

	The SET directive sets a single DTS characteristic
	attribute to a specified value.

		dtscp>SET  {ATTRIBUTE}
			ATTRIBUTES
				CHECK INTERVAL
				ERROR TOLERANCE
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				SYNCHRONIZATION HOLD DOWN
				COURIER ROLE



dtscp help show

HELP SHOW

	The SHOW directive displays information about the
	time service

		dtscp>SHOW  {SHOW ATTRIBUTE}
			ATTRIBUTES
				ALL STATUS
				ALL COUNTERS
				ALL CHARACTERISTICS
				ALL
				CHECK INTERVAL
				EPOCH NUMBER
				ERROR TOLERANCE
				LOCAL TIME DIFFERENTIAL FACTOR
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SYNCHRONIZATION HOLD DOWN
				TYPE
				COURIER ROLE
				ACTING COURIER ROLE
				CLOCK ADJUSTMENT RATE
				CLOCK RESOLUTION
				MAXIMUM CLOCK DRIFT RATE
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				DTS VERSION
				TIME REPRESENTATION VERSION
				CURRENT TIME
				UID
				LAST SYNCHRONIZATION
				STATE
				CREATION TIME
				LOCAL TIMES NOT INTERSECTING
				SERVER TIMES NOT INTERSECTING
				DIFFERENT EPOCHS DETECTED
				TIME REPRESENTATION MISMATCHES DETECTED
				TOO FEW SERVERS DETECTED
				NO GLOBAL SERVERS DETECTED
				SERVERS NOT RESPONDING
				CLOCK SETTINGS
				EPOCH CHANGES COMPLETED
				SYSTEM ERRORS DETECTED
				SYNCHRONIZATIONS COMPLETED
				UPDATES INITIATED
				ENABLE DIRECTIVES COMPLETED
				DISABLE DIRECTIVES COMPLETED
				INSUFFICIENT RESOURCES DETECTED
				TIME PROVIDER FAILURES DETECTED
				TIME PROVIDER TIMEOUTS DETECTED
				LOCAL SERVER NOT IN GROUP
				SERVERS NOT IN GROUP
				LOCAL SERVERS
				GLOBAL SERVERS


dtscp HEL SHO

HELP SHOW

	The SHOW directive displays information about the
	time service

		dtscp>SHOW  {SHOW ATTRIBUTE}
			ATTRIBUTES
				ALL STATUS
				ALL COUNTERS
				ALL CHARACTERISTICS
				ALL
				CHECK INTERVAL
				EPOCH NUMBER
				ERROR TOLERANCE
				LOCAL TIME DIFFERENTIAL FACTOR
				MAXIMUM INACCURACY
				SERVERS REQUIRED
				QUERY ATTEMPTS
				LOCAL SET TIMEOUT
				GLOBAL SET TIMEOUT
				SYNCHRONIZATION HOLD DOWN
				TYPE
				COURIER ROLE
				ACTING COURIER ROLE
				CLOCK ADJUSTMENT RATE
				CLOCK RESOLUTION
				MAXIMUM CLOCK DRIFT RATE
				SERVERS PRINCIPAL NAME
				SERVERS ENTRY NAME
				SERVERS GROUP NAME
				DTS VERSION
				TIME REPRESENTATION VERSION
				CURRENT TIME
				UID
				LAST SYNCHRONIZATION
				STATE
				CREATION TIME
				LOCAL TIMES NOT INTERSECTING
				SERVER TIMES NOT INTERSECTING
				DIFFERENT EPOCHS DETECTED
				TIME REPRESENTATION MISMATCHES DETECTED
				TOO FEW SERVERS DETECTED
				NO GLOBAL SERVERS DETECTED
				SERVERS NOT RESPONDING
				CLOCK SETTINGS
				EPOCH CHANGES COMPLETED
				SYSTEM ERRORS DETECTED
				SYNCHRONIZATIONS COMPLETED
				UPDATES INITIATED
				ENABLE DIRECTIVES COMPLETED
				DISABLE DIRECTIVES COMPLETED
				INSUFFICIENT RESOURCES DETECTED
				TIME PROVIDER FAILURES DETECTED
				TIME PROVIDER TIMEOUTS DETECTED
				LOCAL SERVER NOT IN GROUP
				SERVERS NOT IN GROUP
				LOCAL SERVERS
				GLOBAL SERVERS



dtscp help synchronize

HELP SYNCHRONIZE

	The SYNCHRONIZE directive requests an immediate synchronization.
	The time service can not initiate if the service is
	currently synchronizing, disabled, or servicing an
	update directive. The SET CLOCK argument determines
	if the result of the synchronization will be used to
	non-monotonically set the local clock.  The default
	action is to drift set the local clock

		dtscp>SYNCHRONIZE  [SET [CLOCK] [TRUE|FALSE]]


dtscp HEL SYN

HELP SYNCHRONIZE

	The SYNCHRONIZE directive requests an immediate synchronization.
	The time service can not initiate if the service is
	currently synchronizing, disabled, or servicing an
	update directive. The SET CLOCK argument determines
	if the result of the synchronization will be used to
	non-monotonically set the local clock.  The default
	action is to drift set the local clock

		dtscp>SYNCHRONIZE  [SET [CLOCK] [TRUE|FALSE]]



dtscp help unadvertise

HELP UNADVERTISE

	The UNADVERTISE directive removes this DTS Time
	Server from the Cell Profile, thus making it
	no longer be a global server
dtscp HEL UNA

HELP UNADVERTISE

	The UNADVERTISE directive removes this DTS Time
	Server from the Cell Profile, thus making it
	no longer be a global server

dtscp help update

HELP UPDATE

	The UPDATE directive causes the time service to correct
	the local clock by drifting its value to the specified
	time.  UPDATE allows the user to perform a manual
	synchronization.  The specified time must be included
	in the local clock's inaccuracy interval, and can not
	specify an inaccuracy of less than one second
	This directive is supported by servers only.

		dtscp>UPDATE TIME [ABSOLUTE TIME]


dtscp HEL UPD

HELP UPDATE

	The UPDATE directive causes the time service to correct
	the local clock by drifting its value to the specified
	time.  UPDATE allows the user to perform a manual
	synchronization.  The specified time must be included
	in the local clock's inaccuracy interval, and can not
	specify an inaccuracy of less than one second
	This directive is supported by servers only.

		dtscp>UPDATE TIME [ABSOLUTE TIME]



*** testing dtscp create ***
*** the next 8 commands should fail with message 'Time service already created' ***

dtscp create
Error executing command:
	Time service already created (dce / dts)
dtscp CRE
Error executing command:
	Time service already created (dce / dts)
dtscp create type
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP
Error executing command:
	Time service already created (dce / dts)
dtscp create type clerk
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP CLE
Error executing command:
	Time service already created (dce / dts)
dtscp create type server
Error executing command:
	Time service already created (dce / dts)
dtscp CRE TYP SER
Error executing command:
	Time service already created (dce / dts)

*** testing dtscp delete ***
*** the next 2 commands should fail with message 'Time service in wrong state' ***

dtscp delete
Error executing command:
	Time service in wrong state (dce / dts)
dtscp DEL
Error executing command:
	Time service in wrong state (dce / dts)

*** testing dtscp disable ***

dtscp show state
State                     = On
dtscp show disable directives completed
Disable Directives Completed = 0
dtscp disable
dtscp show state
State                     = Off
dtscp show disable directives completed
Disable Directives Completed = 1
dtscp enable
dtscp show state
State                     = On
dtscp DIS
dtscp show state
State                     = Off
dtscp show disable directives completed
Disable Directives Completed = 2
*** the next command should fail with message 'Time service in wrong state' ***
dtscp disable
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = Off
dtscp enable
dtscp show state
State                     = On

*** testing dtscp enable ***

dtscp disable
dtscp show state
State                     = Off
dtscp enable
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 4
dtscp disable
dtscp show state
State                     = Off
dtscp ENA
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 5
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 5
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 6
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 7
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 7
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock false
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 8
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO FAL
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 9
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock false
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 9
dtscp disable
dtscp show state
State                     = Off
dtscp enable set clock true
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 10
dtscp disable
dtscp show state
State                     = Off
dtscp ENA SET CLO TRU
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 11
*** the next command should fail with message 'Time service in wrong state' ***
dtscp enable set clock true
Error executing command:
	Time service in wrong state (dce / dts)
dtscp show state
State                     = On
dtscp show enable directives completed
Enable Directives Completed = 11

*** testing dtscp exit ***

dtscp exit
dtscp EXI

*** testing dtscp quit ***

dtscp quit
dtscp QUI

*** testing dtscp set ***

dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----
dtscp set error tolerance 0-00:30:00.00I0.00
dtscp show error tolerance
Error Tolerance           = +0-00:30:00.000I-----
dtscp SET ERR TOL 0-00:20:00.00I0.00
dtscp show error tolerance
Error Tolerance           = +0-00:20:00.000I-----
dtscp set error tolerance
dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----

dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----
dtscp set global set timeout 0-00:00:30.000I0.00
dtscp show global set timeout
Global Set Timeout        = +0-00:00:30.000I-----
dtscp SET GLO SET TIM 0-00:00:20.000I0.00
dtscp show global set timeout
Global Set Timeout        = +0-00:00:20.000I-----
dtscp set global set timeout
dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----

dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----
dtscp set local set timeout 0-00:00:30.000I0.00
dtscp show local set timeout
Local Set Timeout         = +0-00:00:30.000I-----
dtscp SET LOC SET TIM 0-00:00:20.000I0.00
dtscp show local set timeout
Local Set Timeout         = +0-00:00:20.000I-----
dtscp set local set timeout
dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----

dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----
dtscp set maximum inaccuracy 0-00:30:00.00I0.00
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:30:00.000I-----
dtscp SET MAX INA 0-00:00:30.00I0.00
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:30.000I-----
dtscp set maximum inaccuracy
dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----

dtscp show query attempts
Query Attempts            = 3
dtscp set query attempts 4
dtscp show query attempts
Query Attempts            = 4
dtscp SET QUE ATT 2
dtscp show query attempts
Query Attempts            = 2
dtscp set query attempts
dtscp show query attempts
Query Attempts            = 3

dtscp show servers required
Servers Required          = 1
dtscp set servers required 4
dtscp show servers required
Servers Required          = 4
dtscp SET SER REQ 2
dtscp show servers required
Servers Required          = 2
dtscp set servers required
dtscp show servers required
Servers Required          = 1

dtscp show synchronization hold down
Synchronization Hold Down = +0-00:10:00.000I-----
dtscp set synchronization hold down 0-00:15:00.00I0.00
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:15:00.000I-----
dtscp SET SYN HOL DOW 0-00:10:00.00I0.00
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:10:00.000I-----
dtscp set synchronization hold down
dtscp show synchronization hold down
Synchronization Hold Down = +0-00:10:00.000I-----

dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp set arithmetic trace true
dtscp show arithmetic trace
Arithmetic Trace          = TRUE
dtscp SET ARI TRA false
dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp set arithmetic trace
dtscp show arithmetic trace
Arithmetic Trace          = FALSE

dtscp show communication trace
Communication Trace       = FALSE
dtscp set communication trace true
dtscp show communication trace
Communication Trace       = TRUE
dtscp SET COM TRA false
dtscp show communication trace
Communication Trace       = FALSE
dtscp set communication trace
dtscp show communication trace
Communication Trace       = FALSE

dtscp show service trace
Service Trace             = FALSE
dtscp set service trace true
dtscp show service trace
Service Trace             = TRUE
*** (KNOWN BUG) the next command will fail with the message 'Illegal dts command' ***
dtscp SET SER TRA false
Illegal dts command:

SET SER TRA false
        ^
dtscp show service trace
Service Trace             = TRUE
dtscp set service trace
dtscp show service trace
Service Trace             = FALSE

dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp set synchronization trace true
dtscp show synchronization trace
Synchronization Trace     = TRUE
dtscp SET SYN TRA false
dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp set synchronization trace
dtscp show synchronization trace
Synchronization Trace     = FALSE

*** testing dtscp show (characteristics) ***

dtscp show automatic tdf change
Automatic TDF Change      = FALSE
dtscp SHO AUT TDF CHA
Automatic TDF Change      = FALSE

dtscp show clock adjustment rate
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
dtscp SHO CLO ADJ RAT
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec

dtscp show clock resolution
Clock Resolution          = 10000000  nsec
dtscp SHO CLO RES
Clock Resolution          = 10000000  nsec

dtscp show dts version
DTS Version               = V1.0.1
dtscp SHO DTS VER
DTS Version               = V1.0.1

dtscp show error tolerance
Error Tolerance           = +0-00:05:00.000I-----
dtscp SHO ERR TOL
Error Tolerance           = +0-00:05:00.000I-----

dtscp show global set timeout
Global Set Timeout        = +0-00:00:15.000I-----
dtscp SHO GLO SET TIM
Global Set Timeout        = +0-00:00:15.000I-----

dtscp show local set timeout
Local Set Timeout         = +0-00:00:05.000I-----
dtscp SHO LOC SET TIM
Local Set Timeout         = +0-00:00:05.000I-----

dtscp show local time differential factor
Local Time Differential Factor = __LOCALTDFCHANGE__
dtscp SHO LOC TIM DIF FAC
Local Time Differential Factor = __LOCALTDFCHANGE__

dtscp show maximum clock drift rate
Maximum Clock Drift Rate  = 1000000  nsec/sec
dtscp SHO MAX CLO DRI RAT
Maximum Clock Drift Rate  = 1000000  nsec/sec

dtscp show maximum inaccuracy
Maximum Inaccuracy        = +0-00:00:00.100I-----
dtscp SHO MAX INA
Maximum Inaccuracy        = +0-00:00:00.100I-----

dtscp show next tdf change
Next TDF Change           = __NEXTTDFCHANGE__
dtscp SHO NEX TDF CHA
Next TDF Change           = __NEXTTDFCHANGE__

dtscp show query attempts
Query Attempts            = 3
dtscp SHO QUE ATT
Query Attempts            = 3

dtscp show servers required
Servers Required          = 1
dtscp SHO SER REQ
Servers Required          = 1

dtscp show synchronization hold down
Synchronization Hold Down = +0-00:10:00.000I-----
dtscp SHO SYN HOL DOW
Synchronization Hold Down = +0-00:10:00.000I-----

dtscp show time representation version
Time Representation Version = V1.0.0
dtscp SHO TIM REP VER
Time Representation Version = V1.0.0

dtscp show type
Type                      = Clerk
dtscp SHO TYP
Type                      = Clerk

dtscp show arithmetic trace
Arithmetic Trace          = FALSE
dtscp SHO ARI TRA
Arithmetic Trace          = FALSE

dtscp show communication trace
Communication Trace       = FALSE
dtscp SHO COM TRA
Communication Trace       = FALSE

dtscp show service trace
Service Trace             = FALSE
*** (KNOWN BUG) the next command will fail with the message 'Illegal dts command' ***
dtscp SHO SER TRA
Illegal dts command:

SHO SER TRA
        ^

dtscp show synchronization trace
Synchronization Trace     = FALSE
dtscp SHO SYN TRA
Synchronization Trace     = FALSE

*** testing dtscp show (counters) ***

dtscp show clock settings
Clock Settings            = 2
dtscp SHO CLO SET
Clock Settings            = 2

dtscp show disable directives completed
Disable Directives Completed = 10
dtscp SHO DIS DIR COM
Disable Directives Completed = 10

dtscp show enable directives completed
Enable Directives Completed = 11
dtscp SHO ENA DIR COM
Enable Directives Completed = 11

dtscp show insufficient resources detected
Insufficient Resources Detected = 0
dtscp SHO INS RES DET
Insufficient Resources Detected = 0

dtscp show local times not intersecting
Local Times Not Intersecting = 0
dtscp SHO LOC TIM NOT INT
Local Times Not Intersecting = 0

dtscp show system errors detected
System Errors Detected    = 0
dtscp SHO SYS ERR DET
System Errors Detected    = 0

dtscp show time representation mismatches detected
Time Representation Mismatches Detected = 0
dtscp SHO TIM REP MIS DET
Time Representation Mismatches Detected = 0

dtscp show time provider timeouts detected
Time Provider Timeouts Detected = 0
dtscp SHO TIM PRO TIM DET
Time Provider Timeouts Detected = 0

dtscp show servers not in group
Servers not in group      = 0
dtscp SHO SER NOT IN GRO
Servers not in group      = 0

*** testing dtscp show (status) ***

dtscp show state
State                     = On
dtscp SHO STA
State                     = On

*** testing dtscp show (other) ***

dtscp show global servers


Known Servers
============================================================

dtscp SHO GLO SER


Known Servers
============================================================


dtscp show all
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 1
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:10:00.000I-----
Type                      = Clerk
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
dtscp SHO ALL
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 1
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:10:00.000I-----
Type                      = Clerk
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__

dtscp show all characteristics
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 1
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:10:00.000I-----
Type                      = Clerk
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__
dtscp SHO ALL CHA
Error Tolerance           = +0-00:05:00.000I-----
Local Time Differential Factor = __LOCALTDFCHANGE__
Maximum Inaccuracy        = +0-00:00:00.100I-----
Servers Required          = 1
Query Attempts            = 3
Local Set Timeout         = +0-00:00:05.000I-----
Global Set Timeout        = +0-00:00:15.000I-----
Synchronization Hold Down = +0-00:10:00.000I-----
Type                      = Clerk
Clock Adjustment Rate     = __ADJUSTRATE__  nsec/sec
Maximum Clock Drift Rate  = 1000000  nsec/sec
Clock Resolution          = 10000000  nsec
DTS Version               = V1.0.1
Time Representation Version = V1.0.0
Automatic TDF Change      = FALSE
Next TDF Change           = __NEXTTDFCHANGE__

*** testing an Illegal dtscp command***

*** the next command should fail with message 'Illegal dts command' ***
dtscp biteme
Illegal dts command:

biteme
^

