*
* @OSF_COPYRIGHT@
* COPYRIGHT NOTICE
* Copyright (c) 1993 Open Software Foundation, Inc.
* ALL RIGHTS RESERVED (DCE).  See the file named COPYRIGHT.DCE in the
* src directory for the full copyright text.
*
*
* (C) Copyright 1993 Transarc Corporation.
* All Rights Reserved.
*
*
* HISTORY
* $Log: adverse_move.config,v $
* $EndLog$
*
*  adverse_move.config
*	Configufration parameters specific to all adverse_move scripts.
* 
* HISTORY
* $Log:$
*
* $EndLog$
******************************************************************************
*
*
*
*
*  Define two machine variables. 
*  HostName1 is the machine that runs 
*  	a) FX server and CM1,
*	b) MoveClient1 on CM1
*	c) the Hub procedure
*
*  HostName2 is the machine that runs
*	a) MoveClient2 on CM2
*
set HostName1 string "gemini"
set HostName2 string "melkor"
*
*
* Define aggregate devices where
*	a) aggrDev1 is on HostName1 and
*	b) aggrDev2 is on HostName2
*
set aggrDev1 string "/dev/epi1"
set aggrDev2 string "/dev/epi0"
*
*
* Define the syncPointTimeout for 30 minutes
*
set syncPointTimeout int 1800
* 
*
set chunkSize int 65536
set efsBlockSize int 8192
set utilDirectory string "/afs/tr/usr/fred/dfs/sb/rel102/src/test/file/util"
set fsetQuota int 10000

set moveTimeout int 1800
set numFiles int 10

*
*  Set up "Global Variables"
*
set fset1 string "fileSet1"
set mt string "/:/MountSet1"
*
*
set testDir1  string ($mt + "/tdir1")
set testDir2  string ($mt + "/tdir2")
set testFile1 string ($mt + "/file1")
set testFile2 string ($mt + "/file2")
set testFile3 string ($testDir1 + "/file3")
set testFile4 string ($testDir2 + "/file4")
set testFile5 string ($testDir1 + "/file5")
set testFile6 string ($testDir1 + "/file6")
set dumpDev string ("  >& " + " " + "/" + "dev" + "/" + "null  " )
*
*  Until the ITL tool is able to export RPC errors such as rpc_s_comm_failure,
*  we have to set the RPC error by hand !
*
set RPC_TIMEDOUT int	382312470
if ($ITL_SystemType == solaris ) {
    set F_EXIST int $F_OK
} else {
    set F_EXIST int $E_ACC
}
