*
* @OSF_COPYRIGHT@
* COPYRIGHT NOTICE
* Copyright (c) 1990, 1991, 1992, 1993 Open Software Foundation, Inc.
* ALL RIGHTS RESERVED (DCE).  See the file named COPYRIGHT.DCE for
* the full copyright text.
*
* (C) Copyright 1992 Transarc Corporation.
* All Rights Reserved.
*
*  stress1.config --
*    Configuration script for the stress1.scr script
*
* 
* HISTORY
* $Log: stress1.config,v $
* Revision 1.1.346.1  1996/10/17  18:23:31  damon
* 	Submitting on behalf of Transarc
* 	[1996/10/17  16:51:57  damon]
*
* Revision 1.1.341.1  1994/02/04  20:42:49  devsrc
* 	Merged from 1.0.3a to 1.1
* 	[1994/02/04  15:23:24  devsrc]
* 
* Revision 1.1.339.2  1994/01/20  18:43:51  annie
* 	added copyright header
* 	[1994/01/20  18:40:09  annie]
* 
* Revision 1.1.339.1  1993/12/07  17:43:04  jaffe
* 	1.0.3a update from Transarc
* 	[1993/12/03  19:06:25  jaffe]
* 
* $EndLog$
*

*
* Miscellaneous
*    These variables control various setup aspects of the test program.
*
*  numThreads - number of concurrent threads to execute.
*  timeToRun - the time in seconds to let the program run before stopping it.
*              Must be at least 60 seconds.
*  multiplePrograms - if true, it indicates more than one of these test
*                     programs are executing.  This impacts the names of
*                     the directories under which the program creates files.
*                     If this is set to true then the workingDir variable
*                     MUST be a non-empty string.
*  fileSystem - indicates which filesystem type the test is being run
*               under, either UFS or LFS.
*  seedStart - the seed to initialize the random number generator. 
*  filesetName - the name of the fileset where the files are created.
*
set numThreads int 5
set timeToRun int 1800
set multiplePrograms string false
set fileSystem string UFS
set seedStart int $ITL_ProcessId
set filesetName string "root.dfs"

*
* I/O variables
*    These variables control the location and size of the I/O that is
*    done by the threads in the test program.
*
*  ioMaxFileSize - maximum size of a file. (default is 5MB)
*  ioMaxTransfer - maximum size of any single I/O operation. (default is 256K)
*
set ioMaxFileSize int 5242880
set ioMaxTransfer int 262144

*
* File Variables
*    These variables deal with the name and location of files created by 
*    the test program.
*
*  fileName - the name of the file to create and work in.  The thread
*             identifier will be appended to this name so each thread will
*             be working in a separate file.
*  workingDir - name of the directory to create the files in.  This can NOT
*               be a pathname, i.e. we only work in one directory below the
*               root.   If set to the empty string, (""), then no directory is
*               created.  Also, if the multiplePrograms is set to true, then 
*               the process identifier of the test program and the machine 
*               name will be appended to this name so that each test program 
*               is working in a separate directory.
*
set fileName string fxStress1
set workingDir string fxtestdir

*
*  DCE Users --
*    These variables control the number of users, and the names of the users
*    that will be used for the test.  The program will create a login 
*    context for each user specified.  The users had to previously been
*    registered in the security database.  The test program assigns these
*    users names to the threads in a round-robin fashion.
*
*  numUsers - the number of users in the userNames array.
*  userNames - an array of DCE user names.  It must start at index 0.
*  userPasswords - an array of passwords that match one-for-one the names
*                  in the userNames array.  It must start at index 0.
*
set numUsers int 2
set userNames[0] string cell_admin
set userPasswords[0] string "-dce-"
set userNames[1] string root
set userPasswords[1] string "-dce-"

quit
