CELL_ADMIN=cell_admin
PASSWORD=-dce-
LOCAL_HOST=dfamrs6s
REMOTE_HOST=dfamrs61
cL="cell.local"		# a cell on a local host
cR="cell.remote"	# a cell on a remote host

gG="gG"		# a group object which include local/remote principals
gGa="gGa"	# a group object which is an alias to the group `gG'
gGnp="gGnp"	# a group object which include remote principals, and
		# is prohibited from incllusion in a projiect list.
pL="pL"		# a principal object which belongs to the local cell
pLo="pLo"	# other principal object which belong to the local cell

gR="gR"		# a group object which belongs to the remote cell
pR="pR"		# a principal object which belongs to the remote cell
pRa="pRa"	# a principal object which is an alias to the principal `pR'
pRs="s"		# a principal object which belongs to the remote cell, and
		# which has a short enough principal name (1 byte)
pRl="long_enough___x___20____x___30____x___40____x___50____x___60____x___70____x___80____x___90____x__100____x__110____x__120____x__130____x__140____x__150____x__160____x__170____x__180____x__190____x__200____x__210____x__220____x__230____x__240____x__250____"
		# a principal object which belongs to the remote cell, and
		# which has a long enough principal name (255 byte)

pU="pU"		# an UNKNOWN  principal object (which is NOT exist in any cell)
pA="pA"		# a principal object which has variety of ACL entries
aclName="/.:/sec/principal/${pA}"	# ACL name for ACL entry testing
